$highlight = #f03838
$secondary = #9e9e9e

$bodyBackground = #f7f7f7
$mainBackground = #ffffff

$title = #212121
$tableBorder = $e5e5e5
$tableRow = #f2f2f2
$bodyText = #424242
$captionText = #333333
$codeText = #c7254e
$separator = #e0e0e0